@charset "utf-8";
@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Hi+Melody&display=swap');

/* reset */
* {margin:0;padding:0;box-sizing:border-box;}
html,body{color:#3d3d3d;font-family:'Noto Sans KR',sans-serif;font-weight:normal;overflow-x:hidden;font-size:12px;}
a {color:#3d3d3d;text-decoration:none;}
::selection {background:#3d3d3d;color:#fff;}
/* common */
body{background:#000;}
.wrap{max-width:750px;margin:0 auto;height:100vh;overflow:hidden;background:aliceblue;position:relative;}
.inner{width:85%;margin:0 auto;height:100vh;}
.custom_btn {display:block;position:relative;float:left;width:120px;padding:0;margin:10px 0;font-weight:600;text-align:center;line-height:50px;color:#FFF;border-radius:5px;transition:all 0.2s ;background:#d87093;box-shadow:0px 5px 0px 0px #833c66;font-family:'Hi Melody',sans-serif;font-weight:bold;font-size:20px;border:none;}
.custom_btn:hover {box-shadow:0px 0px 0px 0px #833c66;margin-top:15px;margin-bottom:5px;}
/* start_zone */
.start_zone{display:none;}
.start_zone.on{display:block;}
.start_zone .inner{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.start_zone .tit{margin-bottom:25px;text-align:center;font-size:32px;font-family:'Hi Melody',sans-serif;font-weight:bold;}
.start_zone .btn_area{display:flex;flex-direction:column;}
/* HowTo popup */
.howto_pop{display:none;}
.howto_pop.on{position:fixed;top:0;left:0;display:block;width:100%;height:100%;}
.howto_pop .bg{background:rgba(0,0,0,0.7);width:100%;height:100%;}
.howto_pop .cont{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:250px;background:#fff;padding:20px;font-family:'Hi Melody',sans-serif;font-weight:bold;font-size:17px;border-radius:15px;line-height:22px;}
.howto_pop .cont span{color:red;}
.howto_pop .cont .close{position:absolute;top:10px;right:10px;width:15px;display:block;background:transparent;border:none;}
.howto_pop .cont .close img{width:100%;}
/* game_zone */
.game_zone{display:none;}
.game_zone.on{display:block;}
.game_zone .inner{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.game_zone .slot_area{position:relative;}
.game_zone .slot_area .slot_mask{position:absolute;top:-18px;left:-17px;width:106%;z-index:1;}
.game_zone [class^='round_']{width:100%;}
.game_zone [class^='round_'] .tit{margin-bottom:40px;text-align:center;font-size:32px;font-family:'Hi Melody',sans-serif;font-weight:bold;}
/* round_1 배경색 */
.game_zone .round_1 .slot_box li{background-image:url('../img/result_1_1.jpg');background-position:center;background-size:cover;background-repeat:no-repeat;}
.game_zone .round_1 .slot_box li:nth-of-type(2){background-image:url('../img/result_1_2.jpg');background-position:center;background-size:cover;}
.game_zone .round_1 .slot_box li:nth-of-type(3){background-image:url('../img/result_1_3.jpg');background-position:center;background-size:cover;}
.game_zone .round_1 .slot_box li:nth-of-type(4){background-image:url('../img/result_1_4.jpg');background-position:center;background-size:cover;}
.game_zone .round_1 .slot_box li:nth-of-type(5){background-image:url('../img/result_1_5.jpg');background-position:center;background-size:cover;}
/* round_2 머리 */
.game_zone .round_2 .slot_box li{background-image:url('../img/slot_item_1_1.png');background-position:center;background-size:cover;background-repeat:no-repeat;} 
.game_zone .round_2 .slot_box li:nth-of-type(2){background-image:url('../img/slot_item_2_1.png');background-position:center;background-size:cover;} 
.game_zone .round_2 .slot_box li:nth-of-type(3){background-image:url('../img/slot_item_3_1.png');background-position:center;background-size:cover;} 
.game_zone .round_2 .slot_box li:nth-of-type(4){background-image:url('../img/slot_item_4_1.png');background-position:center;background-size:115%;} 
.game_zone .round_2 .slot_box li:nth-of-type(5){background-image:url('../img/slot_item_5_1.png');background-position:center;background-size:115%;} 
/* round_3 눈 */
.game_zone .round_3 .slot_box li{background-image:url('../img/slot_item_1_2.png');background-position:42% 58%;background-size:200%;background-repeat:no-repeat;}  
.game_zone .round_3 .slot_box li:nth-of-type(2){background-image:url('../img/slot_item_2_2.png');background-position:42% 58%;background-size:200%;} 
.game_zone .round_3 .slot_box li:nth-of-type(3){background-image:url('../img/slot_item_3_2.png');background-position:42% 53%;background-size:180%;} 
.game_zone .round_3 .slot_box li:nth-of-type(4){background-image:url('../img/slot_item_4_2.png');background-position:44% 54%;background-size:240%;} 
.game_zone .round_3 .slot_box li:nth-of-type(5){background-image:url('../img/slot_item_5_2.png');background-position:42% 58%;background-size:200%;} 
/* round_4 코 */
.game_zone .round_4 .slot_box li{background-image:url('../img/slot_item_1_3.png');background-position:45% 63%;background-size:480%;background-repeat:no-repeat;}  
.game_zone .round_4 .slot_box li:nth-of-type(2){background-image:url('../img/slot_item_2_3.png');background-position:45% 66%;background-size:500%;} 
.game_zone .round_4 .slot_box li:nth-of-type(3){background-image:url('../img/slot_item_3_3.png');background-position:45% 65%;background-size:500%;} 
.game_zone .round_4 .slot_box li:nth-of-type(4){background-image:url('../img/slot_item_4_3.png');background-position:44% 63%;background-size:350%;} 
.game_zone .round_4 .slot_box li:nth-of-type(5){background-image:url('../img/slot_item_5_3.png');background-position:45% 60%;background-size:400%;} 
/* round_5 입 */
.game_zone .round_5 .slot_box li{background-image:url('../img/slot_item_1_4.png');background-position:45% 72%;background-size:480%;background-repeat:no-repeat;}  
.game_zone .round_5 .slot_box li:nth-of-type(2){background-image:url('../img/slot_item_2_4.png');background-position:45% 73%;background-size:480%;} 
.game_zone .round_5 .slot_box li:nth-of-type(3){background-image:url('../img/slot_item_3_4.png');background-position:47% 74%;background-size:480%;} 
.game_zone .round_5 .slot_box li:nth-of-type(4){background-image:url('../img/slot_item_4_4.png');background-position:46% 74%;background-size:480%;} 
.game_zone .round_5 .slot_box li:nth-of-type(5){background-image:url('../img/slot_item_5_4.png');background-position:45% 75%;background-size:480%;} 

.game_zone .slot_box{width:100%;display:flex;background:#fff;border:1px solid #3d3d3d;overflow:hidden;border-radius:15px;}
.game_zone .slot_box li{width:100%;height:130px;display:flex;justify-content:center;align-items:center;font-size:14px;text-align:center;border-right:1px solid #3d3d3d;}
.game_zone .slot_box li:last-of-type{border-right:none;}
.game_zone .arrow_area{width:100%;height:80px;margin-bottom:10px;margin-top:-40px;overflow:hidden;}
.game_zone .handle{position:absolute;top:-60px;right:-60px;width:100px;text-align:right;z-index:2;background:transparent;border:none;}
.game_zone .handle:hover img{transform-origin:bottom left;transform:rotate(-15deg);}
.game_zone .arrow_area{position:relative;}
.game_zone .arrow_area span{width:50px;display:block;margin-left:-25px;position:absolute;top:0;left:0%;}
.game_zone .arrow_area span img{width:100%;}
.game_zone .preview{position:relative;width:250px;height:250px;margin:0 auto;background:#fff;margin-top:70px;border:1px solid #3d3d3d;}
.game_zone .preview .preview_box{position:absolute;top:-18px;left:-16px;width:113%;z-index:1;}
.game_zone .preview [class^='result_']{width:100%;height:100%;display:none;background-position:center;background-size:cover;background-repeat:no-repeat;}
.game_zone .preview [class^='result_']:nth-of-type(n+1){position:absolute;top:0;left:0;}

/* result_zone */
.result_zone.on{display:block;position:relative;}
.result_zone .curtain{display:none;}
.result_zone.on .curtain{display:block;position:absolute;top:0;left:0;width:120%;height:100vh;z-index:1;-webkit-animation:slide-out-top 0.5s 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;animation:slide-out-top 0.5s 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;}
.result_zone .inner{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.result_zone .tit{margin:35px 0 10px;text-align:center;font-size:32px;font-family:'Hi Melody',sans-serif;font-weight:bold;}
.result_zone .result_view{position:relative;width:400px;height:400px;margin:0 auto;margin-top:30px;}
.result_zone .result_view [class^='result_']{width:100%;height:100%;background-position:center;background-size:cover;background-repeat:no-repeat;}
.result_zone .result_view [class^='result_']:nth-of-type(n+1){position:absolute;top:0;left:0;background-position:center;background-size:cover;}
.result_zone .btn_area{display:flex;flex-direction:column;margin-top:50px;}

@-webkit-keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-90vh);
              transform: translateY(-90vh);
    }
  }
  @keyframes slide-out-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-90vh);
              transform: translateY(-90vh);
    }
  }

  /* mobille */
@media screen and (max-width:500px){
    .game_zone .slot_area .slot_mask{top:-6px;left:-7px;width:104%;}
    .game_zone .slot_box li{height:68px;}
    .game_zone .handle{top:-30px;right:-27px;width:60px;}
    .game_zone .handle img{width:50%;}
    .game_zone .arrow_area{height:43px;margin-top:-27px;}
    .game_zone .arrow_area span{width:30px;margin-left:-15px;}
    .game_zone .preview{width:200px;height:200px;}
    .game_zone .preview .preview_box{width:117%;}
    .result_zone.on .curtain{width:150%;}
    .result_zone .tit{margin:20px 0 0;}
    .result_zone .result_view{width:250px;height:250px;}
    .result_zone .btn_area{margin-top:15px;}
    .game_zone .handle.on{transform-origin:bottom;transform:rotate(-15deg);}
    .game_zone .handle:hover img{transform:unset;}

}